@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-style: normal;
}

body {
  background: #e5e5e5;
  margin: 0;
}

header {
  height: 72px;
  width: 100%;
  padding-left: 24px;
  box-sizing: border-box;
  background: #fff;
}

#pop-up-main {
  height: 700px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up-header {
  display: flex;
  order: 0;
}

.section-titled {
  height: 20px;
  width: 90%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 16px;
  margin-top: 10px;
}

#btnd {
  margin-top: 10px;
  color: red;
  flex: none;
  flex-grow: 0;
  order: 1;
  margin-left: 2%;
  width: 18px;
  height: 20px;
  font-size: 24px;
  cursor: pointer;
}

.dynamic-list {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
  width: 65%;
  flex: none;
  order: 1;
  margin-left: 16px;
  margin-top: 0;
}

.dynamic-list .info1 {
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  order: 0;
}

.dynamic-list .info2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 1;
}

.dynamic-list .info3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 2;
}

.pop-up-image {
  height: 100px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  flex: none;
  order: 2;
}

.pop-up-image img {
  height: 275px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.pop-up-image-desk {
  height: 0;
  width: 0;
  margin-left: 16px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  flex: none;
}

.pop-up-content {
  background: white;
  height: 150px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  order: 3;
  margin-top: 200px;
}

.pop-up-description {
  width: 100%;
  height: 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  order: 0;
  margin-top: 0;
  margin-left: 16px;
}

.category {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-evenly;
  padding-left: 2%;
  list-style: none;
  order: 2;
  margin-top: 0;
  padding-top: 0;
  width: 60%;
  height: 50px;
}

.category li {
  list-style: none;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 70px;
  height: 20px;
  width: 20px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.category li .cat1 {
  order: 0;
}

.buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#w2button1 {
  display: flex;
  order: 1;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 10vh;
  padding: 12px 22px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  box-sizing: border-box;
}

#w2button2 {
  display: flex;
  order: 1;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 10vh;
  padding: 12px 22px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  box-sizing: border-box;
}

.prj2 {
  margin-top: 0;
  height: auto;
  width: 60%;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  white-space: nowrap;
}

.prj {
  margin-left: 0;
  height: auto;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #396df2;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  white-space: nowrap;
}

.btn-img {
  height: 5vh;
  width: 20%;
  color: #6070ff;
  order: 2;
}

.btn-img2 {
  height: auto;
  width: 20%;
  color: #6070ff;
  order: 2;
}

.category li .cat2 {
  order: 1;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.category li .cat3 {
  order: 2;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.popping {
  height: 0;
  width: 0;
  display: none;
}

.left {
  height: 0;
  display: none;
}

.pop-up-content1 {
  height: 0;
  width: 0;
  display: none;
}

.pop-up-description1 {
  width: 0;
  height: 0;
  display: none;
}

.category1 {
  display: none;
  width: 0;
  height: 0;
}

.category1 li {
  display: block;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 10px 12px 10px 0;
  background: #fff;
  border-radius: 70px;
  height: auto;
  width: 20px;
}

.category1 li .cat11 {
  display: none;
}

.buttons1 {
  width: 0;
  height: 0;
  display: none;
}

#w2button10 {
  display: none;
  width: 0;
  height: 0;
}

.prj22 {
  display: none;
  height: 0;
  width: 0;
}

.prjj {
  height: 0;
  width: 0;
  display: none;
}

.btn-img22 {
  display: block;
  height: 5vh;
  width: 35%;
  color: #6070ff;
  order: 1;
  padding-left: 12px;
}

.btn-img1 {
  display: block;
  height: 5vh;
  width: 35%;
  color: #6070ff;
  order: 1;
  padding-left: 12px;
}

.category li .cat22 {
  display: none;
}

.category li .cat33 {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.nav-links1 {
  width: 0;
  height: 0;
  display: none;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-items .nav-links1 li {
  text-decoration: none;
  list-style: none;
  margin: 20px;
}

.menu-items .nav-links1 li .h-menu {
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
}

.nav-links1.open-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6070ff;
  mix-blend-mode: multiply;
  overflow: hidden;
  opacity: 0.8;
  top: 0;
  right: 0;
  flex-direction: column;
}

#btn {
  color: red;
  display: none;
}

.sections {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dynamic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 327px;
  background: #fff;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

header nav .logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  color: #6070ff;
  white-space: nowrap;
}

header nav div .menu-bar {
  width: 18px;
  height: 20px;
  color: #6070ff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  display: block;
  z-index: 2;
}

ul.nav-links {
  display: none;
}

.menu-icons {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  width: 100%;
  height: 600px;
  background: #fff;
  padding-top: 12px;
  background-image: url(images/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 55px;
  border-bottom-left-radius: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction .title {
  margin-top: 102px;
  padding-bottom: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  width: 327px;
  height: 150px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: pre-line;
  padding-right: 24px;
}

.introduction .description {
  padding-bottom: 0;
  margin-bottom: 12px;
  height: 146px;
  width: 327px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-items: center;
  padding-right: 24px;
  white-space: pre-line;
}

.social {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  white-space: nowrap;
  padding-top: 12px;
}

.order {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.social-links {
  display: flex;
  padding-top: 0;
  margin-top: 12px;
  margin-right: 180.83px;
  padding-right: 0;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
}

.li1 {
  width: 19px;
  height: 19px;
  padding-right: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.li2 {
  width: 20px;
  height: 20px;
  padding-right: 19px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.li222 {
  display: none;
}

.img-sec1 {
  display: none;
  height: 0;
  width: 0;
}

.section-description1 {
  display: none;
  height: 0;
  width: 0;
}

.section-titlef {
  display: none;
  height: 0;
  width: 0;
}

.img-sec4 {
  display: block;
  height: 0;
  width: 0;
}

.li3 {
  color: #505f79;
  width: 20px;
  height: 16px;
  padding-right: 19px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-weight: bold;
}

.li4 {
  width: 17.99px;
  height: 20px;
  padding-right: 19px;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.li5 {
  width: 14.17px;
  height: 20px;
  padding-right: 0;
  flex: none;
  order: 4;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.section1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
  align-items: center;
  justify-content: center;
}

.right-block {
  height: auto;
  width: 100%;
  flex: none;
  align-self: center;
  margin: 16px 16px 12px 16px;
  order: 0;
  flex-grow: 0;
}

.right-block00 {
  height: 220px;
  width: 295px;
  padding: 16px 16px 12px 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 0;
  margin-top: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  height: 80px;
  padding-bottom: 12px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  padding-top: 12px;
  width: 295px;
  height: 36px;
  white-space: nowrap;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 236px;
  height: 32px;
  margin-top: 0;
  white-space: nowrap;
}

.list1 {
  list-style-type: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.list2 {
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.list3 {
  margin-left: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  padding-top: 8px;
  padding-bottom: 8px;
}

.section-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 12px;
}

.section-description0 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 12px;
  margin: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-top: 12px;
  list-style: none;
}

.li11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 8px;
}

.li22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 8px;
}

.li33 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.action {
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 295px;
  height: 72px;
}

.btn {
  padding: 12px;
  margin-bottom: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.section2 {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  align-items: center;
  height: 612px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

.experience1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
  padding-bottom: 12px;
  height: 124px;
}

.section-title1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  padding-top: 12px;
  width: 295px;
  height: 80px;
  white-space: pre-line;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 552px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

.img-sec3 {
  display: none;
  height: 0;
  width: 0;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 612px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  padding-left: 12px;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

.section5 {
  margin-top: 114px;
  padding: 114px 24px;
  margin-left: 0;
  margin-right: 0;
  width: 327px;
  height: 986.85px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top-right-radius: 70px;
}

.top {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  white-space: pre-line;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.order2 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.resume {
  box-sizing: border-box;
  padding: 12px;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.skills-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 72px;
  margin-left: 0;
}

.lang {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  color: #000;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-right: 26px;
  width: 237px;
}

.btn1 {
  width: 12px;
  height: 6px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 14px;
  margin-right: 14px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-size: 18px;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.l-list {
  list-style: none;
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.images {
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  padding-top: 9px;
  padding-bottom: 9.72px;
  padding-left: 12px;
  padding-right: 16px;
}

.js {
  margin-top: 21px;
  margin-bottom: 21.72px;
  margin-right: 12px;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

.btn:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.resume:hover {
  background: #6070ff;
  color: #fff;
}

.resume:active {
  background: #2230d2;
  color: #fff;
}

.resume:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.contactform {
  height: 800px;
  width: 375px;
  background-color: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile@2x.svg);
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.contactform .contact-title {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  height: 56px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 103px;
}

.contactform .contact-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  width: 327px;
  height: 102px;
  margin-top: 10px;
  margin-bottom: 87px;
  text-align: center;
}

.contactform .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactform .contact-form .input-field {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border: none;
}

#email {
  margin-top: 20px;
}

.contactform .contact-form .input-field::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 15px 38px 15px 16px;
  font-size: 17px;
  color: #172b4d;
}

.contactform .contact-form .text-area {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  border: none;
  margin-top: 18px;
}

.contactform .contact-form .text-area::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 15px 38px 15px 16px;
  font-size: 15px;
  color: #b3bac5;
}

.contactform .contact-form .submit-btn {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  align-self: flex-start;
  background-color: #fff;
  border: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
  margin-top: 22px;
}

/* .contactform .indicator {
  margin-top: 0;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
} */

.img-sec2 {
  display: none;
  height: 0;
  width: 0;
}

.port1 {
  display: none;
}

.ab1 {
  display: none;
}

.cont1 {
  display: none;
}

.error-display {
  border: 3px solid red;
}

.error {
  color: red;
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 100%;
    background: #fff;
    overflow: hidden;
  }

  .logo {
    padding: 25px 500px 0 155px;
  }

  header nav div .menu-bar {
    display: none;
    height: 0;
  }

  .img-section2 {
    display: none;
    height: 0;
  }

  header nav .nav-links {
    padding-top: 15px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }

  .port1 {
    padding: 10px 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    flex: none;
    order: 0;
    display: block;
    flex-grow: 0;
  }

  .ab1 {
    display: block;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .cont1 {
    display: block;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .introduction {
    padding: 46px 8px 76.54px 34.6px;
    height: 721.46px;
    width: 1397.4px;
    background-image: url(images/Header\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .introduction .title {
    padding-left: 260px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    animation-duration: 4s;
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 30%;
    height: auto;
  }

  @keyframes fadeInOut {
    0% {
      color: cyan;
    }

    50% {
      color: red;
    }

    75% {
      color: blueviolet;
    }

    100% {
      color: dodgerblue;
    }
  }

  .introduction .description {
    padding: 12px 260px 12px 260px;
    width: 65%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: normal;
  }

  .introduction .social {
    padding-left: 260px;
    width: 10%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 3;
    flex-grow: 0;
    overflow: hidden;
  }

  .introduction .social-links {
    display: flex;
    flex-direction: row;
    padding-top: 14px;
    padding-left: 260px;
    flex: none;
    order: 4;
  }

  .section1 {
    width: 85%;
    height: auto;
    flex-grow: 0;
    margin: 142px;
    background: #fff;
    border: 2px solid #a7aeff;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .right-block .img-section1 {
    display: none;
    height: 0;
    width: 0;
  }

  .right-block .img-sec1 {
    display: block;
    height: 448px;
    width: 544px;
  }

  .right-block {
    padding: 24px 24px 24px 22px;
    height: 40%;
    width: auto;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: block;
  }

  .right-block00 {
    padding: 24px 24px 24px 22px;
    height: 50%;
    width: auto;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: block;
  }

  .right-block11 {
    padding: 24px 24px 24px 22px;
    height: 50%;
    width: auto;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: block;
  }

  .left-block {
    padding-top: 24px;
    padding-right: 22px;
    padding-bottom: 7px;
    gap: 24px;
    left: 590px;
    width: 50%;
    height: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .left-block00 {
    padding-top: 24px;
    padding-right: 22px;
    padding-bottom: 7px;
    gap: 24px;
    left: 590px;
    width: 40%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .left-block11 {
    padding-top: 24px;
    padding-right: 22px;
    padding-bottom: 7px;
    gap: 24px;
    left: 590px;
    width: 40%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-title {
    display: none;
    height: 0;
    width: 0;
  }

  .experience {
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    padding-right: 24px;
    margin-bottom: 0;
    padding-left: 24px;
    height: auto;
    width: 75%;
  }

  .section-titlef {
    display: inline;
    padding: 0;
    margin: 0;
    width: 70%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .section-title1 {
    display: inline;
    padding: 0;
    margin: 0;
    width: 70%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    white-space: nowrap;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
    padding-top: 24px;
  }

  .list1 {
    padding-left: 0;
    padding-right: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .list2 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .list3 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .section-description0 {
    display: none;
    height: 0;
    width: 0;
  }

  .section-description1 {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 90%;
    height: auto;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .tags {
    padding-left: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
    height: auto;
    width: 80%;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .li11 {
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 4px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .li222 {
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 4px 12px;
    margin-right: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .li22 {
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding: 4px 12px 4px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .li33 {
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;
    padding: 4px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .action {
    width: 80%;
    height: auto;
    flex: none;
    order: 3;
    flex-grow: 0;
    padding: 0 24px 0 24px;
    margin-top: 0;
  }

  .btn {
    margin: 16px 372px 89px 0;
    padding: 12px;
    width: 35%;
    height: auto;
    background: #4053fc;
    border-radius: 8px;
    color: #fff;
    white-space: nowrap;
  }

  .section2 {
    width: 85%;
    height: auto;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    margin: 142px;
  }

  .img-sec2 {
    display: block;
    height: 448px;
    width: 544px;
  }

  .image-section2 {
    display: none;
    height: 0;
    width: 0;
  }

  .experience1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 24px;
    padding-left: 24px;
  }

  .section3 {
    width: 85%;
    height: auto;
    margin: 142px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .image-section3 {
    display: none;
    height: 0;
    width: 0;
  }

  .img-sec3 {
    display: block;
    height: 448px;
    width: 544px;
  }

  .image-section4 {
    display: none;
    height: 0;
    width: 0;
  }

  .img-sec4 {
    display: block;
    height: 448px;
    width: 544px;
  }

  .section4 {
    width: 85%;
    height: auto;
    margin: 142px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
  }

  .section5 {
    width: 100%;
    height: auto;
    margin-top: 142px;
    margin-left: 0;
    margin-right: 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-top-right-radius: 140px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 142px;
    padding-left: 142px;
    padding-bottom: 134px;
    padding-right: 25px;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: none;
    order: 1;
    flex-grow: 0;
    height: auto;
    width: 75%;
    padding-top: 142px;
    padding-right: 142px;
    padding-bottom: 166px;
  }

  .languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 684px;
    height: 216px;
    flex: none;
    order: 0;
  }

  .container {
    width: 684px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 0;
  }

  .lang {
    width: 582px;
    height: 24px;
    color: #344563;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    flex: none;
    order: 0;
  }

  .container1 {
    width: 684px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 1;
  }

  .container2 {
    width: 684px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 2;
  }

  .language-list {
    width: 414px;
    height: 144px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 1;
    padding: 12px;
  }

  .language-list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
  }

  .l-list {
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 0;
  }

  .images {
    height: 48px;
    width: 48px;
    border: 1px solid #fff;
  }

  .js {
    width: 98px;
    height: 24px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
    margin-top: 76px;
    margin-left: 0;
  }

  .btn1 {
    width: 40px;
    height: 40px;
  }

  .contactform {
    width: 100%;
    height: auto;
    background: #6070ff;
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 79.09px 74px 48.21px 0;
  }

  .nav-links1 {
    height: 0;
    width: 0;
    display: none;
  }

  .pop-up-image {
    height: 100vh;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    flex: none;
    order: 2;
  }

  .pop-up-image img {
    height: 100px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
  }

  .pop-up-image-desk {
    height: 375px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    display: block;
    flex: none;
    order: 2;
    justify-content: center;
    align-self: center;
  }

  .pop-up-image-desk img {
    height: 100%;
    width: 95%;
    align-self: center;
  }

  .popping {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .pop-up-content1 {
    height: 100px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    order: 0;
    margin-top: 0;
    justify-content: center;
    align-content: center;
    padding-top: 35px;
  }

  .pop-up-content {
    display: none;
    background: white;
    height: 0;
    width: 0;
  }

  .left {
    display: flex;
    flex-direction: column;
    order: 1;
    height: 150px;
    width: 100%;
    padding-left: 25px;
    box-sizing: border-box;
  }

  .pop-up-description {
    width: 0;
    height: 0;
    display: none;
  }

  .pop-up-description1 {
    display: inline-block;
    background: white;
    width: 100%;
    height: 150px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    order: 0;
    margin-top: 0;
  }

  .category {
    display: none;
    height: 0;
    width: 0;
  }

  .category1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    order: 0;
    margin-top: 0;
    padding-top: 40px;
    width: 60%;
    height: 35px;
  }

  .category1 li {
    list-style: none;
  }

  .category li {
    display: none;
    height: 0;
  }

  .category1 li .cat11 {
    order: 0;
    padding: 10px 12px 10px 0;
    background: #fff;
    border-radius: 70px;
    height: auto;
    width: 40px;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background-color: #091e42;
    display: inline-block;
  }

  .buttons {
    display: none;
    height: 0;
    width: 0;
  }

  .buttons1 {
    width: 60%;
    height: 120px;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    order: 1;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
  }

  #w2button {
    display: none;
    height: 0;
  }

  #w2button10 {
    display: flex;
    order: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 5px 200px 5px 10px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    box-sizing: border-box;
  }

  #w2button11 {
    display: flex;
    order: 1;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 5px 200px 5px 10px;
    width: 100%;
    align-self: center;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .prj2 {
    display: none;
    height: 0;
  }

  .prj22 {
    margin-top: 0;
    height: auto;
    width: 50%;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
    text-decoration: none;
  }

  .prj {
    display: none;
    height: 0;
  }

  .prjj {
    margin-left: 0;
    height: auto;
    width: 50%;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #396df2;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
    text-decoration: none;
  }

  .btn-img {
    height: 0;
    width: 0;
    display: block;
  }

  .btn-img2 {
    height: 0;
    width: 0;
    display: block;
  }

  #w2button10 .btn-img1 {
    height: 5vh;
    width: 20%;
    color: #6070ff;
    order: 1;
    margin-left: 12px;
  }

  #w2button11 .btn-img22 {
    height: 5vh;
    width: 20%;
    color: #6070ff;
    order: 1;
  }

  .category li .cat2 {
    display: none;
  }

  .category1 li .cat22 {
    display: block;
    order: 1;
    padding: 10px 12px 10px 0;
    background: #fff;
    border-radius: 70px;
    height: auto;
    width: 20px;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .category li .cat3 {
    display: none;
  }

  .category1 li .cat33 {
    display: block;
    order: 2;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 10px 12px 10px 0;
    background: #fff;
    border-radius: 70px;
    height: auto;
    width: 20px;
  }
}
